<button (click)="fileInput.click(); $event.preventDefault(); $event.stopPropagation()">
  <div class="placeholder"
  *ngIf="!(previewImage$ | async)"
  >
      <div
        class="drag-hint"
        [hidden]="(onDrag || onWrongDrag)"
      >Перетащите изображение для загрузки</div>
  <div class="drag-hint on-drag"
       [hidden]="!onDrag"
  >Отпустите файл здесь</div>
  </div>
  <img
    *ngIf="previewImage$ | async as image"
    [src]="image | url" [alt]="'image'">
</button>

<input
  [multiple]="multiple()"
  (change)="onUpload($event.target)"
  (click)="clearValue(fileInput)"
  type="file"
  hidden
  #fileInput />
