# Angular built files
/.angular/cache
.angular-cli.json
/.angular/*

# PrimeNG resources
/resources/themes/

# SCSS
/.sass-cache

# Package managers
package-lock.json

# TypeScript
*.tsbuildinfo
# Coverage reports
/coverage
# Environment variables
.env
# Logs
*.log
 npm-debug.log*

# Temporary files and folders
/tmp
/.temp

# Compiled output
/dist
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/connect.lock
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
