// fonts
$font-family: "Inter", "Helvetica Neue", sans-serif;

// font-size
$default: 14px;
$medium: 16px;
$large: 18px;

// font-weight
$default: 200;
$normal: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

//screen width
$WIDTH_BREAKPOINT_MOBILE: 480px;
$WIDTH_BREAKPOINT_TABLET: 768px;
$WIDTH_BREAKPOINT_LAPTOP: 1240px;

//grey
$light-grey: #EEEEEE;
$dark-grey: #666666;
$grey-button-background: #D3D3D3;
$color-text-grey: #707070;
