@import "../../../../../styles/constants";
@import "../../../../../styles/mixins";

.articles-head {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  position: sticky;
  top: 10px;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 20px;
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    .buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
    }
    .filters {
      display: flex;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;
    }
  }
  .nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    p-iconfield {
      width: 100%;
    }
    input {
      width: 100%;
    }
    .sort {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

.article-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-right: 5px;
  justify-content: space-between;
  height: calc(100% - 162px);


  .articles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-height: calc(100% - 84px);
    overflow-y: auto;
    padding: 10px;

    @include respond-to(laptop) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to(tablet) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .article-item {
    @include flex(column, stretch, space-between);
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &__title {
      box-sizing: border-box;
      min-height: 70px;
      margin-bottom: 20px;
      margin-top: 20px;
      font-size: 18px;
      line-height: 1.3;
      font-weight: $medium;
    }

    &__image {
      @include size(100%, 300px);
      align-self: center;
      margin-bottom: 16px;
    }

    &__description {
      color: $dark-grey;
      padding: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      /* Limit to 3 lines */
      -webkit-box-orient: vertical;
      transition: -webkit-line-clamp 0.3s
    }
  }
}

.tag {
  cursor: pointer;
  &.checked {
    font-weight: 600;
  }
  &:hover {
    border-bottom: 1px solid $dark-grey;
    box-sizing: border-box;
  }
}

.card-item {
  cursor: pointer;
  transition: box-shadow 0.2s;
  &:hover {
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.26);
  }
}
