@import "styles/constants";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  width: 100vw;
  font-family: $font-family;
  font-weight: $default;
  overflow-x: hidden ;
}

.container {
  max-width: $WIDTH_BREAKPOINT_LAPTOP;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #EEEEEE;
}
