<div class="form-wrapper">
  <mat-card class="login-card">
    <mat-card-header class="login-header">
      <mat-card-title class="login-header__title">
        Зайдите в свой аккаунт
      </mat-card-title>
      <div class="login-header__link">
        <a routerLink="/auth/register" class="register-text">Ещё нет аккаунта? Зарегистрируйтесь</a>
      </div>
    </mat-card-header>

    <mat-card-content>
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onSubmit()">
        <mat-form-field class="form-field">
          <mat-label>почта</mat-label>
          <input matInput type="text" formControlName="email" />
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>пароль</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>

        <mat-card-actions>
          <button mat-flat-button type="submit" class="login-button">Войти</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
