<header>
  <div class="container">
    <button type="button" pButton label="" icon="pi pi-user" (click)="op.toggle($event)"></button>

    <p-overlayPanel #op [showTransitionOptions]="'300ms'" [hideTransitionOptions]="'300ms'">
      <ng-template pTemplate>
        @if (isLoggedIn()) {
          <div class="option" (click)="userExit()">Выйти</div>
        } @else {
          <div class="option" (click)="openLoginModal() ">Войти</div>
          <div class="option" (click)="openRegisterModal()">Зарегестрироваться</div>
        }
      </ng-template>
    </p-overlayPanel>
  </div>
</header>
